{% extends 'base.html' %}

{% block content %}

<h1> Stock History: {{ ticker }} 
</h1>

<body>




<table class="table table-sm table-hover">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Open</th>
      <th scope="col">High</th>
      <th scope="col">Low</th>
      <th scope="col">Close</th>
      <th scope="col">Volume</th>      
    </tr>
  </thead>
  <tbody>
        {% for list_item in api %}
            <tr>
              <th scope="row">{{ list_item.Date }}</a></th>
              <td>{{ list_item.Open }}</td>
              <td>{{ list_item.High }}</td>
              <td>{{ list_item.Low }}</td>
              <td>{{ list_item.Close }}</td>
              <td>{{ list_item.Volume }}</td>           
         
            </tr>
        {% endfor %}

      </tbody>
    
</table>

<table class="table table-sm table-hover">
	<tr>
	{% for key,value in api.items %}
		<th>{{ key  }}</th>
	{% endfor %}
	</tr>
	<tr>
	{% for key,value in api.items %}
		<td>{{ value  }}</td>
	{% endfor %}
	</tr>
</table>



<!-- 
<canvas id="myChart" width="400" height="400"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

<script>
var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: "Nothing",
        datasets: [{
            label: {{api.Date|safe }},
            data: {{ api.Close|safe }},
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script> --> 

</body>




{% endblock %}


